@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.ProseMirror {
  min-height: 4.75rem;
  outline: none;
}

input::placeholder {
  color: #94989e;
}

.ProseMirror .placeholder::before {
  content: var(--placeholder-text);
  color: #94989e;
  position: absolute;
}

.ProseMirror h1 {
  font-size: 1.375rem;
  line-height: 1.75rem;
  letter-spacing: -0.004375rem;
}

.ProseMirror h2 {
  font-size: 1.1875rem;
  line-height: 1.75rem;
  letter-spacing: 0.003125rem;
}

.ProseMirror h3 {
  font-size: 1.0625rem;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
}

.ProseMirror code {
  width: 100%;
  display: block;
  background-color: #ededed;
  border: 1px solid #e4e4e4;
  overflow-x: auto;
  padding: 1em 1em;
  line-height: 1.6em;
  border-radius: 4px;
  font-size: 0.8125rem;
}

.ProseMirror a {
  color: #4363dc;
  cursor: pointer;
}

#emoji-container section {
  max-height: 262px;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #1b1b1b;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #1b1b1b;
}

/* Styling individual list items */
/* .ProseMirror ul {
  display: inline-flex;
  flex-direction: column;
}

.ProseMirror ul li {
  display: inline-flex;
  align-items: center;
} */

.ProseMirror ul {
  list-style-type: none;
  padding-left: 0;
}

.ProseMirror ul li {
  position: relative;
  padding-left: 1em;
  margin-bottom: 4px;
  line-height: 1.6;
}

.ProseMirror ul li::before {
  content: "•";
  color: #1b1b1b;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 8px;
  position: absolute;
  left: 0;
  top: 0;
}

.ProseMirror ul[data-type="todo_list"] {
  list-style-type: none;
}

.ProseMirror li[data-type="todo_item"] {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ProseMirror .todo-checkbox {
  border: 1px solid;
  height: 0.7em;
  width: 0.7em;
  box-sizing: border-box;
  margin-right: 10px;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  border-radius: 0.2em;
}

.ProseMirror .todo-content {
  flex: 1;
}

.ProseMirror ul[data-type="todo_list"] li::before {
  content: "";
  color: #1b1b1b;
  font-weight: bold;
  margin-right: 0px;
  position: absolute;
  left: 0;
  top: 0;
}

.ProseMirror li[data-done="true"] .todo-checkbox {
  background-color: black;
}

.ProseMirror li[data-done="true"] {
  text-decoration: line-through;
}
